extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 7
  - var pageName = 'Audio'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-lg.bg-white
    .shell
      .range.range-50.range-center.range-md-left
        .cell-md-12
          .jp-player-init.jp-player-js.jp-player-wide 
            .jp-jplayer
            .jp-audio.jp-audio-0(role='application', aria-label='media player')
              ul.jp-player-list
                li.jp-player-list-item(data-jp-title="Cro Magnon Man",
                data-jp-artist="The Stark Palace",
                data-jp-mp3="audio/sound.mp3")
              .jp-meta
                .unit.unit-sm-horizontal.unit-middle.unit-spacing-xlg
                  .unit__left
                    +jpg('timeline-1-109x109', 'img-circle')
                  .unit__body
                    h5.jp__title Installing Your First HTML Template
                    p.jp__author by Brian Williamson

              .jp-interface
                .jp-controls-wrapper
                  .jp-button.jp-playpaus-button
                    button.jp-btn.jp-play(role='button', tabindex='0')
                  .jp-time-rail
                    .jp-progress
                      .jp-seek-bar
                        .jp-play-bar
                  .jp-time-wrapper
                    .jp-current-time 00:00
                .jp-volume-wrapper
                  .jp-button.jp-volume-button
                    button.jp-btn.jp-mute(role='button', tabindex='0')
                  .jp-volume-bar
                    .jp-volume-bar-value
              .jp-playlist.jp-playlist--hidden
                ul
                  li  
              .jp-no-solution
                span Update Required
                |            To play the media you will need to either update your browser to a recent version or update your
                a(href='http://get.adobe.com/flashplayer/', target='_blank')=' Flash plugin'
                | .
        .cell-md-12
          .jp-player-init.jp-player-js.jp-player-wide
            .jp-jplayer
            .jp-audio.jp-audio-1(role='application', aria-label='media player')
              ul.jp-player-list
                li.jp-player-list-item(data-jp-title="Cro Magnon Man",
                data-jp-artist="The Stark Palace",
                data-jp-mp3="audio/sound.mp3")
              .jp-meta
                h5.jp__title Installing Your First HTML Template
                p.jp__author by Brian Williamson

              .jp-interface
                .jp-controls-wrapper
                  .jp-button.jp-playpaus-button
                    button.jp-btn.jp-play(role='button', tabindex='0')
                  .jp-time-rail
                    .jp-progress
                      .jp-seek-bar
                        .jp-play-bar
                  .jp-time-wrapper
                    .jp-current-time 00:00
                .jp-volume-wrapper
                  .jp-button.jp-volume-button
                    button.jp-btn.jp-mute(role='button', tabindex='0')
                  .jp-volume-bar
                    .jp-volume-bar-value
              .jp-playlist.jp-playlist--hidden
                ul
                  li  
              .jp-no-solution
                span Update Required
                |            To play the media you will need to either update your browser to a recent version or update your
                a(href='http://get.adobe.com/flashplayer/', target='_blank')=' Flash plugin'
                | .
        .cell-lg-4.cell-md-6.cell-sm-8
          .jp-player-init.jp-player-js
            .jp-jplayer
            .jp-audio.jp-audio-2(role='application', aria-label='media player')
              ul.jp-player-list
                li.jp-player-list-item(data-jp-title="Cro Magnon Man",
                data-jp-artist="The Stark Palace",
                data-jp-mp3="audio/sound.mp3")
              .jp-meta
                .unit.unit-middle.unit-spacing-xlg
                  .unit__left
                    +jpg('timeline-1-109x109', 'img-circle')
                  .unit__body
                    h5.jp__title Installing Your First HTML Template
                    p.jp__author by Brian Williamson

              .jp-interface
                .jp-controls-wrapper
                  .jp-button.jp-playpaus-button
                    button.jp-btn.jp-play(role='button', tabindex='0')
                  .jp-time-rail
                    .jp-progress
                      .jp-seek-bar
                        .jp-play-bar
                  .jp-time-wrapper
                    .jp-current-time 00:00
                .jp-volume-wrapper
                  .jp-button.jp-volume-button
                    button.jp-btn.jp-mute(role='button', tabindex='0')
                  .jp-volume-bar
                    .jp-volume-bar-value
              .jp-playlist.jp-playlist--hidden
                ul
                  li  
              .jp-no-solution
                span Update Required
                |            To play the media you will need to either update your browser to a recent version or update your
                a(href='http://get.adobe.com/flashplayer/', target='_blank')=' Flash plugin'
                | .
        .cell-lg-4.cell-md-6.cell-sm-8
          .jp-player-init.jp-player-js
            .jp-jplayer
            .jp-audio.jp-audio-3(role='application', aria-label='media player')
              ul.jp-player-list
                li.jp-player-list-item(data-jp-title="Cro Magnon Man",
                data-jp-artist="The Stark Palace",
                data-jp-mp3="audio/sound.mp3")
              .jp-meta
                h5.jp__title Installing Your First HTML Template
                p.jp__author by Brian Williamson

              .jp-interface
                .jp-controls-wrapper
                  .jp-button.jp-playpaus-button
                    button.jp-btn.jp-play(role='button', tabindex='0')
                  .jp-time-rail
                    .jp-progress
                      .jp-seek-bar
                        .jp-play-bar
                  .jp-time-wrapper
                    .jp-current-time 00:00
                .jp-volume-wrapper
                  .jp-button.jp-volume-button
                    button.jp-btn.jp-mute(role='button', tabindex='0')
                  .jp-volume-bar
                    .jp-volume-bar-value
              .jp-playlist.jp-playlist--hidden
                ul
                  li  
              .jp-no-solution
                span Update Required
                |            To play the media you will need to either update your browser to a recent version or update your
                a(href='http://get.adobe.com/flashplayer/', target='_blank')=' Flash plugin'
                | .

  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

